.map-actions {
    position: absolute;
    top: 15vh;
    right: 2.5vw;
    display: flex;
    gap: 2rem;
  }
  
  /* Icon Button (Trash) Styling */
  .icon-button-trash-zone {
    background-color: rgba(23, 23, 23, 1);
    border: none;
    padding: 1.5rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .icon-button-trash-zone:hover {
    background-color: #2BE1A9;
  }
  
  #icon-trash-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(23, 23, 23, 1); */
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    padding: 10px;
  }

  
  /* New Zone Button Styling */
  .new-zone-button {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 1.5rem;
    font-size: 2.5rem;
    background: rgba(23, 23, 23, 1);
    color: #FAFAFA;
    border: none;
    border-radius: 30px; /* Fully rounded corners */
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Prevent content overflow */
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-weight: 700;
  }
  
  .new-zone-button:hover {
    background-color: #2BE1A9;
  }
  
  .plus-icon {
    width: 3rem;
    height: 3rem;
  }

  .grid-item {
    padding: 20px;
    border-radius: 30px;
    background: rgba(23, 23, 23, 1);
    text-align: center;
    cursor: pointer;
    width: 30em;
    position: relative;
    height: 15vh;
    /* box-shadow: 3px 3px 10px 1px rgb(92, 90, 90); */
  }

  .page-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .grid-item h3 {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: 1.8rem;  /* adjust font size as needed */
    margin: 0;
    padding: 0;
    text-align: left;
    width: calc(100% - 30px); /* ensures some padding on the right if needed */
    font-family: "Inter", sans-serif;
  }
  .content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15em;
    gap: 50px;
    height: 40vh;
    overflow-y: auto; /* In case grid items overflow */
    margin-top: 10vh;
    padding-right: 4.5rem;
  }

  #grid-container::-webkit-scrollbar {
    width: 6px;
  }

  #grid-container::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #363636;
      border: 1px solid #363636;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  }

  #grid-container::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: #e7e7e7;
  }

  