.create-schedule-middle-content{
  height: 55vh;
}

.create-schedule-top-content {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5vh;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5rem 8rem; 
  margin-bottom: 6vh;
}

.text-input {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.time-picker {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  font-family: 'YourFontFamily', sans-serif; /* Change this to your desired font */
  font-size: 1.6rem; /* Change this to your desired font size */
  color: #24c49f; /* Change this to your desired text color */
}

.time-picker::-webkit-calendar-picker-indicator {
  filter: invert(1); /* This will invert the color of the icon */
}

.select-zone-button {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  cursor: pointer;
  text-align: left;
  background-image: url("../assets/icons/map.svg");
  background-repeat: no-repeat;
  background-position: right 1.4rem center;
}

.dropdown {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  appearance: none;
  background-image: url("../assets/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 1.4rem center;
}

.schedule-form {
  width: 24vw;
  box-sizing: border-box;
  padding: 1.4rem;
  font-size: 2rem;
  border-radius: 1.2rem;
  color: #FAFAFA;
  background-color: rgba(23, 23, 23, 1);
  border: 3px solid rgba(23, 23, 23, 1); 
}

.schedule-form:focus {
  border-color: #24c49f; /* Change this to your desired color */
  outline: none; /* Remove default outline */
}

.create-schedule-bottom-buttons{
  display: flex;
  justify-content: space-between;
  /* margin-top: 2vh; */
}

.create-schedule-back-button,
.create-schedule-confirm-button {
  padding: 1.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
  background: rgba(23, 23, 23, 1);
  border: none;
  border-radius: 20%;
}