.diagnostics-middle-content {
  display: flex;
  height: 85vh;
  max-height: calc(100vh - 35vh);
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 80vw;
}

.diagnostics-middle-content-left {
  flex: 1;
  padding-right: 5em;
  padding-left: 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diagnostics-middle-content-right {
  flex: 3;
  /* padding-right: 2em; */
  /* padding-left: 5em; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
  border: 3px solid rgba(23, 23, 23, 1);
  overflow: hidden;
  text-align: left;
}

.pill-tabs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
}

.pill-tab {
  padding: 2rem 4rem;
  background-color: rgba(23, 23, 23, 1);
  color: #FAFAFA;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.pill-tab:hover {
  background-color: #2BE1A9;
}

.pill-tab.active {
  background-color: #2BE1A9;
}

.tab-content {
  width: 100%;
  height: 100%;
}

.sidebrush-top {
  display: flex;
  height: 50%;  
  border-bottom: 3px solid #000; /* Border between top and bottom */
}

.sidebrush-top-left {
  width: 50%;
  border-right: 3px solid #000; /* Border between left and right */
  padding: 1rem;
}

.sidebrush-top-right {
  width: 50%;
  padding: 1rem;
}

.sidebrush-bottom {
  padding: 1rem;
}

.bottom-scroll {
  overflow-y: auto;
  max-height: 44%;
}

#sidebrush-bottom-scroll::-webkit-scrollbar {
  width: 6px;
}

#sidebrush-bottom-scroll::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #363636;
    border: 1px solid #363636;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

#sidebrush-bottom-scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #e7e7e7;
}