/* Define spacing variables for consistent spacing and typography throughout */
:root {
  --border-radius: 1.2em;
  --font-size-small: clamp(1rem, 1.2vw, 1.4rem);
  --font-size-medium: clamp(1.4rem, 2vw, 2.2rem);
  --font-size-large: clamp(1.8rem, 3vw, 3rem);
  --font-size-xlarge: clamp(2.2rem, 4vw, 4rem);
}

/* Apply page-wide styling */
body {
  background: rgba(23, 23, 23, 0.90); /* Dark semi-transparent background */
  margin: 0; /* Remove default body margin */
  font-family: Inter, sans-serif; /* Consistent font */
  color: #FAFAFA; /* Default text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the login container */
#login-page {
  width: min(90%, 1280px); /* Max width of 400px, scales down for smaller screens */
  height: min(90%, 800px); /* Max width of 400px, scales down for smaller screens */
  padding: 5vh 5vw; /* Scales padding based on screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background: rgba(23, 23, 23, 0.8);
  border-radius: var(--border-radius);
}

/* Heading styles */
#login-page h2 {
  font-size: var(--font-size-xlarge);
  margin-bottom: 1.5em;
  text-align: center;
}

/* Input Group Styling */
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.input-group label {
  font-size: var(--font-size-medium);
  margin-bottom: 0.5em;
  color: #FFFFFF;
}

/* Input field styling */
#login-page input[type="text"],
#login-page input[type="password"] {
  width: 100%;
  padding: 0.8em;
  font-size: var(--font-size-small);
  border-radius: var(--border-radius);
  border: 2px solid #ccc;
  background-color: rgba(23, 23, 23, 0.8);
  color: rgba(43, 225, 169, 1.0);
}

/* Adjust focus styles */
#login-page input:focus {
  outline: none;
  border: 2px solid rgba(43, 225, 169, 1.0);
}

/* Button Container */
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

/* Button styling */
#login-page button {
  width: 60%;
  padding: 0.8em;
  font-size: var(--font-size-large);
  background-color: #171717;
  color: #FFFFFF;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

#login-page button:hover {
  background-color: rgba(43, 225, 169, 0.8);
}

/* Error Message Styling */
#login-error {
  color: red;
  margin-top: 1em;
  font-size: var(--font-size-medium);
  text-align: center;
}