/* src/components/MyWorldPage.css */

  .my-world-container {
    display: flex;
    height: 85vh; 
    /* this height is based of the 12 vh from the top-part*/
  }

  .my-world-left {
    flex: 1;
    padding-right: 10em;
    height: 100%;
  }
  
  .my-world-left h2 {
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
    font-family: "Inter", sans-serif;
    padding-top: 10vh;
  }
  
  .my-world-right {
    flex: 3; /* adjust width as needed */
    padding-left: 10em;
    padding-top: 4vh;
    height: 100%;
    position: relative;
  }

  .bottom-center-right-buttons {
    position: absolute;
    bottom: 16vh; /* adjust spacing as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    cursor: pointer;
  }

  .my-world-map {
    width: 100%;
    max-width: 600px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .my-world-right h1{
    font-size: 4rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
    font-family: "Inter", sans-serif;
  }

  .my-world-canvas {
    width: 135%;   /* Set to 100% of the container width or adjust as needed */
    height: 50%;  /* Set to 100% of the container height or specify a fixed value */
  }

  /* START BUTTON */
  .start-job-button {
    background-color: rgba(23, 23, 23, 1);
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .start-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .start-job-button:hover {
    background-color: #2BE1A9;
  }

  /* PAUSE BUTTON */
  .pause-job-button {
    background-color: rgba(23, 23, 23, 1);
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .pause-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .pause-job-button:hover {
    background-color: #2BE1A9;
  }

    /* STOP BUTTON */
    .stop-job-button {
      background-color: rgba(23, 23, 23, 1);
      border: none;
      padding: 1.5rem;
      border-radius: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    .stop-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.5s ease;
    }
  
    .stop-job-button:hover {
      background-color: #2BE1A9;
    }
  