.schedules-middle-content{
  height: 55vh;
  /* margin-top: 2vh; */
  display: flex;
}

.schedules-middle-content-left{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.schedules-middle-content-right{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.schedule-button{
  background-color: rgba(23, 23, 23, 1);
  border: none;
  padding: 1.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
}


/* CALENDAR */
.card {
  width: 40vw; /* 316px */
  height: 64vh;
  background-color: #2d2d2d;
  border-radius: 30px; /* 15px */
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.calendar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem; /* 20px */
  padding-top: 5vh;
  padding-bottom: 0.9375rem; /* 15px */
}

.calendar-toolbar > .current-month {
  font-size: 3rem; /* 20px */
  font-weight: bold;
  color: #FAFAFA;
  font-family: "Inter", sans-serif; 
}

.calendar-toolbar > [class$="month-btn"] {
  width: 2.5rem; /* 40px */
  aspect-ratio: 1;
  text-align: center;
  font-family: "Inter", sans-serif; 
  font-size: 2rem; /* 14px */
  color: #FAFAFA;
  background: rgba(23, 23, 23, 1);
  border: none;
  border-radius: 0.9375rem; /* 15px */
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekdays,
.calendar-days {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 1.125rem; /* 18px */
  justify-content: center; /* Align weekdays to the center */
  padding-top: 0.75rem; /* 12px */
}

.weekday-name,
[class$="-day"] {
  width: 2rem; /* 40px */
  height: 3rem; /* 40px */
  color: #FAFAFA;
  text-align: center;
  line-height: 2.5rem; /* 40px */
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "Inter", sans-serif; 
  padding: 0.6rem 0.8rem;
  margin: 1rem 2rem;
}

.weekday-name {
  color: #FAFAFA;
  font-weight: bold;
  padding: 0.6rem 0.8rem;
}

.current-day {
  background-color: transparent;
  color: #FAFAFA;
  border-radius: 0.9375rem; /* 15px */
  font-weight: 700;
  /* transition: 0.5s; */
  cursor: pointer;
}

.selected-day {
  background-color: #24c49f; /* Change this to your desired color */
  color: #FAFAFA;
  border-radius: 0.9375rem; /* 15px */
  font-weight: 700;
}

.padding-day {
  color: #575757;
  user-select: none;
  padding: 0.6rem 0.8rem;
}

.calendar-toolbar > [class$="month-btn"]:hover,
.month-day:hover,
.btn:hover {
  border-radius: 0.9375rem; /* 15px */
  background-color: #24c49f;
  color: #FAFAFA;
  /* transition: 0.1s; */
  cursor: pointer;
  box-shadow: inset 0 0 0 0.09375rem #24c49f; /* approx 1.5px */
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-toolbar > [class$="month-btn"]:focus,
.month-day:focus,
.btn:focus {
  border-radius: 0.9375rem; /* 15px */
  background-color: #24c49f;
  color: #24c49f;
}

.schedule-dot {
  display:block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #FAFAFA;
  border-radius: 50%;
  margin: 0.25rem auto 0;
}

/* Action buttons */
.schedules-action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem; /* adjust spacing as needed */
}

.schedules-schedule-tab {
  height: 100%;
  display: grid;
  margin-top: 4vh;
  grid-template-columns: 1fr; /* One column layout */
  justify-items: end;
  gap: 10px; /* Space between grid items */
}

.schedule-grid-item {
  background-color: rgba(23, 23, 23, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2vh; /* Add some space between rows */
  padding: 1rem;
  width: 71%;
  max-height: 15vh;
  border-radius: 30px;
}

.schedule-grid-item p{
  font-size: 1.5rem;
  color: #FAFAFA;
  font-family: "Inter", sans-serif; 
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.schedule-grid-item h1{
  font-size: 2.5rem;
  color: #FAFAFA;
  font-family: "Inter", sans-serif; 
  margin-block-start:0.2em;
  margin-block-end: 0.2em;
}

.schedule-grid-item.selected-zone h1 {
  color: #FF5255;
}

.schedule-grid-item.selected-zone {
  box-shadow: inset 0 0 0 5px #FF5255;
}