<?xml version="1.0"?>

<robot name="bumperbot" xmlns:xacro="http://ros.org/wiki/xacro">

     <!-- Load robot params file -->
    <xacro:property name="robot_params_file" value="$(find config_manager)/config/robot_config.yaml"/>
    <xacro:property name="robot_params" value="${xacro.load_yaml(robot_params_file)}"/>
    <xacro:property name="lidar_params_2d" value="${robot_params['lidar_2d']}"/>

    <!-- Left LIDAR -->
    <link name="lidar_left_link">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
        <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.01"/>
            </geometry>
        </visual>
    
        <inertial>
            <mass value="1e-5" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>

    <joint name="lidar_left_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0.0 0.07 0.075" rpy="0 0 ${pi/2}"/>
        <parent link="base_link"/>
        <child link="lidar_left_link"/>
    </joint>

    <!-- Right LIDAR -->
    <link name="lidar_right_link">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
        <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.01"/>
            </geometry>
        </visual>
    
        <inertial>
            <mass value="1e-5" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>

    <joint name="lidar_right_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0.0 -0.07 0.075" rpy="0 0 ${-pi/2}"/>
        <parent link="base_link"/>
        <child link="lidar_right_link"/>
    </joint>

    <!-- Gazebo: Lidar Left -->
    <gazebo reference="lidar_left_link">
        <sensor type="ray" name="head_hokuyo_sensor_left">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>${lidar_params_2d['left']['update_rate']}</update_rate>
        <ray>
            <scan>
            <horizontal>
                <samples>${lidar_params_2d['left']['horizontal_scan']['sample']}</samples>
                <resolution>${lidar_params_2d['left']['horizontal_scan']['resolution']}</resolution>
                <min_angle>${lidar_params_2d['left']['horizontal_scan']['min_angle']}</min_angle>
                <max_angle>${lidar_params_2d['left']['horizontal_scan']['max_angle']}</max_angle>
            </horizontal>
            </scan>
            <range>
                <min>${lidar_params_2d['left']['range']['min']}</min>
                <max>${lidar_params_2d['left']['range']['max']}</max>
                <resolution>${lidar_params_2d['left']['range']['resolution']}</resolution>
            </range>
            <noise>
                <type>gaussian</type>
                <!-- Noise parameters based on published spec for Hokuyo laser
                    achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
                    stddev of 0.01m will put 99.7% of samples within 0.03m of the true
                    reading. -->
                <mean>${lidar_params_2d['left']['noise']['mean']}</mean>
                <stddev>${lidar_params_2d['left']['noise']['stddev']}</stddev>
            </noise>
        </ray>
        <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
            <topicName>/bumperbot/laser/2d_left/scan</topicName>
            <frameName>lidar_left_link</frameName>
        </plugin>
        </sensor>
    </gazebo>

    <!-- Gazebo: Lidar Right -->
    <gazebo reference="lidar_right_link">
        <sensor type="ray" name="head_hokuyo_sensor_right">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>${lidar_params_2d['right']['update_rate']}</update_rate>
        <ray>
            <scan>
            <horizontal>
                <samples>${lidar_params_2d['right']['horizontal_scan']['sample']}</samples>
                <resolution>${lidar_params_2d['right']['horizontal_scan']['resolution']}</resolution>
                <min_angle>${lidar_params_2d['right']['horizontal_scan']['min_angle']}</min_angle>
                <max_angle>${lidar_params_2d['right']['horizontal_scan']['max_angle']}</max_angle>
            </horizontal>
            </scan>
            <range>
                <min>${lidar_params_2d['right']['range']['min']}</min>
                <max>${lidar_params_2d['right']['range']['max']}</max>
                <resolution>${lidar_params_2d['right']['range']['resolution']}</resolution>
            </range>
            <noise>
                <type>gaussian</type>
                <!-- Noise parameters based on published spec for Hokuyo laser
                    achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
                    stddev of 0.01m will put 99.7% of samples within 0.03m of the true
                    reading. -->
                <mean>${lidar_params_2d['right']['noise']['mean']}</mean>
                <stddev>${lidar_params_2d['right']['noise']['stddev']}</stddev>
            </noise>
        </ray>
        <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
            <topicName>/bumperbot/laser/2d_right/scan</topicName>
            <frameName>lidar_right_link</frameName>
        </plugin>
        </sensor>
    </gazebo>
</robot>