<?xml version="1.0"?>

<robot name="bumperbot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Load robot params file -->
    <xacro:property name="robot_params_file" value="$(find config_manager)/config/robot_config.yaml"/>
    <xacro:property name="robot_params" value="${xacro.load_yaml(robot_params_file)}"/>
    <xacro:property name="lidar_params_3d" value="${robot_params['lidar_3d']}"/>

    <!-- Velodyne 3D Lidar -->
    <link name="velodyne_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.02" length="0.01"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.02" length="0.01"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.01"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
        </inertial>

    </link>

    <joint name="velodyne_joint" type="fixed">
        <axis xyz="0 1 0" />
        <parent link="base_link"/>
        <child link="velodyne_link"/>
        <origin xyz="0 0 0.08" rpy="0 0 0"/>  <!-- Adjust position as needed -->
    </joint>

    <!-- Gazebo: Velodyne Sensor -->
    <gazebo reference="velodyne_link">
        <sensor type="gpu_ray" name="velodyne_sensor">
            <pose>0 0 0 0 0 0</pose>
            <visualize>false</visualize>
            <update_rate>${lidar_params_3d['update_rate']}</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>${lidar_params_3d['horizontal_scan']['sample']}</samples>
                        <resolution>${lidar_params_3d['horizontal_scan']['resolution']}</resolution>
                        <min_angle>${lidar_params_3d['horizontal_scan']['min_angle']}</min_angle>  <!-- -180 degrees -->
                        <max_angle>${lidar_params_3d['horizontal_scan']['max_angle']}</max_angle>   <!-- 180 degrees -->
                    </horizontal>
                    <vertical>
                        <samples>${lidar_params_3d['vertical_scan']['sample']}</samples>
                        <resolution>${lidar_params_3d['vertical_scan']['resolution']}</resolution>
                        <min_angle>${lidar_params_3d['vertical_scan']['min_angle']}</min_angle>   <!-- Vertical min angle -->
                        <max_angle>${lidar_params_3d['vertical_scan']['max_angle']}</max_angle>   <!-- Vertical max angle -->
                    </vertical>
                </scan>
                <range>
                    <min>${lidar_params_3d['range']['min']}</min>
                    <max>${lidar_params_3d['range']['max']}</max>
                    <resolution>${lidar_params_3d['range']['resolution']}</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>${lidar_params_3d['noise']['mean']}</mean>
                    <stddev>${lidar_params_3d['noise']['stddev']}</stddev>
                </noise>
            </ray>
            <plugin name="velodyne_control" filename="libgazebo_ros_velodyne_gpu_laser.so">
                <topicName>/bumperbot/laser/3d_front/scan</topicName>
                <frameName>velodyne_link</frameName>
                <min_range>0.1</min_range>
                <max_range>130</max_range>
                <gaussianNoise>0.01</gaussianNoise>
                <organize_cloud>true</organize_cloud>
            </plugin>
        </sensor>
    </gazebo>



</robot>
