<launch>
    <!-- Launch robot controller -->
    <node name="robot_controller_node" pkg="bumperbot_controller" type="robot_controller_node.py" output="screen"/>

    <!-- Launch move manager node -->
    <node name="move_manager_node" pkg="bumperbot_controller" type="move_manager_node" output="screen"/>

    <!-- Launch litter tracker node -->
    <node name="litter_tracker_node" pkg="bumperbot_controller" type="litter_tracker_node" output="screen">
        <!-- <param name="/litter_tracker/distance_threshold" value="0.4" /> -->
    </node>

    <!-- Launch vacuum controller node -->
    <node name="vacuum_controller_node" pkg="bumperbot_controller" type="vacuum_controller_node" output="screen"/>
    
    <!-- Launch rollerbrush controller node -->
    <node name="rollerbrush_controller_node" pkg="bumperbot_controller" type="rollerbrush_controller_node" output="screen"/>

    <!-- Launch sidebrush controller node -->
    <node name="sidebrush_controller_node" pkg="bumperbot_controller" type="sidebrush_controller_node" output="screen"/>

</launch>