<launch>
    <!-- Launch robot controller -->
    <node name="robot_controller_node" pkg="bumperbot_controller" type="robot_controller_node.py" output="screen"/>

    <!-- Launch move manager node -->
    <node name="move_manager_node" pkg="bumperbot_controller" type="move_manager_node" output="screen"/>

</launch>